@if (this.isnewOrder==true) {
<div class="container">
    <div class="header">
        <h3>Order Master</h3>
    </div>
    <!-- <ngx-spinner type="ball-scale-multiple"></ngx-spinner> -->
    <ngx-spinner bdColor="rgba(51,51,51,0.8)" size="medium" color="#fff" type="ball-scale-multiple">
        <p style="font-size: 20px; color: white">Loading...</p>
    </ngx-spinner>
    <form [formGroup]="frmorder" (ngSubmit)="onSubmit()">
        <div class="row">
            <div class="col-md-12">
                <span>General</span>
                <hr>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="mb-3">
                    <input type="text" class="form-control" placeholder="Order No" formControlName="OrderNo" readonly>
                </div>
                <div class="mb-3">
                    <select class="form-control" name="OrderType" [(ngModel)]="selectedOrdertype1"
                        formControlName="RailOrderType">
                        <option [value]="0"> Rail Order Type</option>
                        @for (item of orderType; track $index) {
                        <option [value]="item" selected="item=selectedOrdertype1">{{item}}</option>
                        }
                    </select>
                </div>
                <div class="mb-3">
                    <select class="form-control" name="DeliveryTo" [(ngModel)]="selectedShipAddresstype"
                        (change)="OnChangesDeliveryTo()" formControlName="DeliveryTo">
                        <option [value]="0"> DeliveryTo</option>
                        @for (item of DeliveryTotypes; track $index) {
                        <option [value]="item" selected="item=selectedShipAddresstype">{{item}}</option>
                        }
                    </select>

                </div>
                <div class="mb-3">
                    <select class="form-control" name="Partyname" [(ngModel)]="selectedPartyname"
                        formControlName="Partyname">
                        <option [value]=""> Party Name</option>
                        @for (item of partyNameTypes; track $index) {
                        <option [value]="item.partyName" selected="item=selectedPartyname">{{item.partyName}}</option>
                        }
                    </select>

                </div>
                <div class="mb-3">
                    <input type="number" class="form-control" placeholder="Loading Point" formControlName="LoadingPoint"
                        step="0.001">
                </div>

                <div class="mb-3">

                    <select class="form-control" name="Comodity" [(ngModel)]="selectedCommodity"
                        formControlName="Comodity">
                        <option [value]="0" selected>Comodity</option>
                        @for (item of CommItemWebModel; track $index) {
                        <option [value]="item.no" selected="item=selectedCommodity">{{item.description}}</option>
                        }
                    </select>
                </div>


            </div>



            <div class="col-md-4">

                <div class="mb-3">
                    <select class="form-control" name="OrderType" [(ngModel)]="BusinessSegmentselect"
                        formControlName="BusinessSegment">
                        <option [value]="0"> Business Segment</option>
                        @for (item of Bussinesssegmenttype; track $index) {
                        <option [value]="item" selected="item=BusinessSegmentselect">{{item}}</option>
                        }
                    </select>
                </div>
                <div class="mb-3">
                    <select class="form-control" name="Customer" [(ngModel)]="selectedCustomer"
                        formControlName="Customer" (change)="onChangeCustomer()">
                        <option [value]="0"> Customer</option>
                        @for (item of custmodel; track $index) {
                        <option [value]="item.no" selected="item=selectedCustomer">{{item.no}}</option>
                        }
                    </select>
                </div>
                <div class="mb-3">
                    <select class="form-control" name="LoadingCity" [(ngModel)]="selectedCity"
                        formControlName="LoadingCity">
                        <option [value]="0"> Loading City</option>
                        @for (item of cityModel; track $index) {
                        <option [value]="item.city" selected="item=selectedCity">{{item.city}}</option>
                        }
                    </select>
                </div>
                <div class="mb-3">
                    <select class="form-control" name="TerminalOfLoading" [(ngModel)]="selectedTMLoading"
                        formControlName="TerminalOfLoading">
                        <option [value]="0"> Terminal of Loading</option>
                        @for (item of terminalofloadingtypes; track $index) {
                        <option [value]="item.partyName" selected="item=selectedTMLoading">{{item.partyName}}</option>
                        }
                    </select>

                </div>
                <div class="mb-3">
                    <input type="number" class="form-control" placeholder="Weight in TONS"
                        formControlName="WeightInTons" step="0.001">
                </div>
                <div class="mb-3">

                    <select class="form-control" name="ShipingLineNo" [(ngModel)]="selectedShipingLineNo"
                        (change)="OnChangeshipingLineNo()" formControlName="ShipingLineNo">
                        <option value="0">Shiping Line No</option>
                        @for (item of shipinglineNoTypes; track $index) {
                        <option [value]="item.partyCode" selected="item=selectedShipingLineNo">{{item.partyCode}}
                        </option>
                        }
                    </select>

                </div>

            </div>


            <div class="col-md-4">
                <div class="mb-3">
                    <input type="text" class="form-control" placeholder="Order Date" name="OrderDate"
                        formControlName="OrderDate" ngbDatepicker #d="ngbDatepicker" [(ngModel)]="selectedFromDate"
                        (click)="d.toggle()">
                </div>
                <div class="mb-3">
                    <input type="text" class="form-control" placeholder="Customer Name" formControlName="CustomerName"
                        readonly>
                </div>
                <div class="mb-3">
                    <select class="form-control" name="FinalDestination" [(ngModel)]="SelectedFinalDestination"
                        formControlName="FinalDestination">
                        <option [value]="0"> Final Destination</option>
                        @for (item of cityModel; track $index) {
                        <option [value]="item.city" selected="item=SelectedFinalDestination">{{item.city}}</option>
                        }
                    </select>
                </div>
                <div class="mb-3">
                    <select class="form-control" name="selectedTMDestination" [(ngModel)]="selectedTMDestination"
                        formControlName="selectedTMDestination">
                        <option [value]="0"> Terminal of Destination</option>
                        @for (item of terminalofDestinattypes; track $index) {
                        <option [value]="item.partyName" selected="item=selectedTMDestination">{{item.partyName}}
                        </option>
                        }
                    </select>
                </div>
                <div class="mb-3">
                    <input type="number" class="form-control" placeholder="Rate_till_deliv_port " step="0.001"
                        formControlName="Ratetilldelivport">
                </div>
                <div class="mb-3">
                    <input type="text" class="form-control" placeholder="Shiping Line Name" readonly
                        formControlName="ShipingLineName">
                </div>
            </div>

        </div>
        <div class="row">
            <div class="col-md-12">

                <hr>
            </div>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>&nbsp;
        <button type="button" class="btn btn-primary" (click)="OnCancelButtonclick()">Cancel</button>
    </form>
</div>
}
@else {
    <div class="container">
    <div class="common-margin">
      <div class="justify-content-center row">
        <div class="col-lg-12 col-md-12 col">
          <div class="form-wrap-card card">
            <div class="card-body">
              <div class="row">
                <div class="col">
                    <h1 class="justify-content-start common-section-heading">Order List</h1>
                    <button type="button" class="btn btn-primary" (click)="OnAddNewButtonclick()">New Order</button> &nbsp;
                     <button type="button" class="btn btn-primary" (click)="OnExitButtonclick()">Export to excel</button>
                </div>
            <mat-card-content>
            @if ((weborderdet!=null)) {
              <div class="table-responsive">
                <table mat-table [dataSource]="weborderdet" class="mat-elevation-z8">
    
       
                    <ng-container matColumnDef="documentType">
                      <th mat-header-cell *matHeaderCellDef>Document Type </th>
                      <td mat-cell *matCellDef="let element"> {{element.documentType}} </td>
                    </ng-container>
                    <ng-container matColumnDef="OrderNo">
                        <th mat-header-cell *matHeaderCellDef> Order No </th>
                        <td mat-cell *matCellDef="let element"> {{element.OrderNo}} </td>
                      </ng-container>
                  
                    <ng-container matColumnDef="orderDate">
                      <th mat-header-cell *matHeaderCellDef> Order Date </th>
                      <td mat-cell *matCellDef="let element"> {{element.orderDate | date:'dd/MM/yyyy'}} </td>
                    </ng-container>
                  
                   
                    <ng-container matColumnDef="BusinessSegment">
                      <th mat-header-cell *matHeaderCellDef> Business Segment </th>
                      <td mat-cell *matCellDef="let element"> {{element.BusinessSegment}} </td>
                    </ng-container>
                   
                    <ng-container matColumnDef="WEBORDERNo">
                      <th mat-header-cell *matHeaderCellDef>WEBORDERNo </th>
                      <td mat-cell *matCellDef="let element"> {{element.WEBORDERNo}} </td>
                    </ng-container>
                    <ng-container matColumnDef="RailorderType">
                        <th mat-header-cell *matHeaderCellDef>Rail order Type </th>
                        <td mat-cell *matCellDef="let element"> {{element.RailorderType}} </td>
                      </ng-container>
                    <ng-container matColumnDef="Sell_Customer_No">
                      <th mat-header-cell *matHeaderCellDef>Customer No </th>
                      <td mat-cell *matCellDef="let element"> {{element.Sell_Customer_No}} </td>
                    </ng-container>
                    <ng-container matColumnDef="Sell_to_Customer_Name">
                        <th mat-header-cell *matHeaderCellDef>Customer Name </th>
                        <td mat-cell *matCellDef="let element"> {{element.Sell_to_Customer_Name}} </td>
                      </ng-container>
                      <ng-container matColumnDef="Delivery_To">
                        <th mat-header-cell *matHeaderCellDef>Delivery To </th>
                        <td mat-cell *matCellDef="let element"> {{element.Delivery_To}} </td>
                      </ng-container>
                      <ng-container matColumnDef="PartyName">
                        <th mat-header-cell *matHeaderCellDef>Party Name </th>
                        <td mat-cell *matCellDef="let element"> {{element.PartyName}} </td>
                      </ng-container>
                      <ng-container matColumnDef="LoadingCity">
                        <th mat-header-cell *matHeaderCellDef>Loading City </th>
                        <td mat-cell *matCellDef="let element"> {{element.LoadingCity}} </td>
                      </ng-container>
                      <ng-container matColumnDef="FinalDestination">
                        <th mat-header-cell *matHeaderCellDef>Final Destination </th>
                        <td mat-cell *matCellDef="let element"> {{element.FinalDestination}} </td>
                      </ng-container>
                      <ng-container matColumnDef="loadingPoint">
                        <th mat-header-cell *matHeaderCellDef>loading Point </th>
                        <td mat-cell *matCellDef="let element"> {{element.loadingPoint}} </td>
                      </ng-container>
                      <ng-container matColumnDef="TerminalofLoading">
                        <th mat-header-cell *matHeaderCellDef>Terminal of Loading </th>
                        <td mat-cell *matCellDef="let element"> {{element.TerminalofLoading}} </td>
                      </ng-container>
                      <ng-container matColumnDef="TerminalofDestination">
                        <th mat-header-cell *matHeaderCellDef>Terminal of Destination </th>
                        <td mat-cell *matCellDef="let element"> {{element.TerminalofDestination}} </td>
                      </ng-container>
                        <ng-container matColumnDef="CommodityName">
                      <th mat-header-cell *matHeaderCellDef>Commodity Name </th>
                      <td mat-cell *matCellDef="let element"> {{element.CommodityName}} </td>
                    </ng-container>
                    <ng-container matColumnDef="Freight_On">
                      <th mat-header-cell *matHeaderCellDef>Freight On </th>
                      <td mat-cell *matCellDef="let element"> {{element.Freight_On}} </td>
                    </ng-container>
                    <ng-container matColumnDef="Weight_In_TON">
                      <th mat-header-cell *matHeaderCellDef>Weight In TON </th>
                      <td mat-cell *matCellDef="let element"> {{element.Weight_In_TON}} </td>
                    </ng-container>
                    <ng-container matColumnDef="Rate_till_deliv_port">
                      <th mat-header-cell *matHeaderCellDef>Rate_till_deliv_port </th>
                      <td mat-cell *matCellDef="let element"> {{element.Rate_till_deliv_port}} </td>
                    </ng-container>
                     <ng-container matColumnDef="Shipping_Line_No">
                      <th mat-header-cell *matHeaderCellDef>Shipping_Line_No </th>
                      <td mat-cell *matCellDef="let element"> {{element.Shipping_Line_No}} </td>
                    </ng-container>
                   <ng-container matColumnDef="Shipping_Line_Name">
                      <th mat-header-cell *matHeaderCellDef>Shipping_Line_Name </th>
                      <td mat-cell *matCellDef="let element"> {{element.Shipping_Line_Name}} </td>
                    </ng-container>
                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                  </table>
                </div>
                }
                </mat-card-content>
             
            </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
}