<div class="container">
    <div class="header">
        <h3>Order Master</h3>
    </div>
    <form>
        <div class="row">
            <div class="col-md-12">
                <span>General</span>
                <hr>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="mb-3">
                    <input type="text" class="form-control" placeholder="No">
                </div>
                <div class="mb-3">
                    <input type="text" class="form-control" placeholder="Counter">
                </div>
                <div class="mb-3">
                    <input type="text" class="form-control" placeholder="No of Order">
                </div>
                <div class="mb-3">
                    <select class="form-control">
                        <option selected>Order Type</option>
                        <option>Course 1</option>
                        <option>Course 2</option>
                        <option>Course 3</option>
                    </select>
                </div>
                <div class="mb-3">
                    <input type="text" class="form-control" placeholder="Order Date">
                </div>
                <div class="mb-3">
                    <select class="form-control">
                        <option selected>Customer No</option>
                        <option>Course 1</option>
                        <option>Course 2</option>
                        <option>Course 3</option>
                    </select>
                </div>
                <div class="mb-3">
                    <input type="text" class="form-control" placeholder="Customer Name">
                </div>
                <div class="mb-3">
                    <select class="form-control">
                        <option selected>Delivery To</option>
                        <option>Course 1</option>
                        <option>Course 2</option>
                        <option>Course 3</option>
                    </select>
                </div>
                <div class="mb-3">
                    <select class="form-control">
                        <option selected> Party Code(Delivery To)</option>
                        <option>Course 1</option>
                        <option>Course 2</option>
                        <option>Course 3</option>
                    </select>
                </div>
                <div class="mb-3">
                    <input type="text" class="form-control" placeholder="Party Name(Delivery To)">
                </div>
                <div class="mb-3">
                    <select class="form-control">
                        <option selected> Loading City</option>
                        <option>Course 1</option>
                        <option>Course 2</option>
                        <option>Course 3</option>
                    </select>
                </div>

            </div>
            <div class="col-md-4">
                <div class="mb-3">
                    <select class="form-control">
                        <option selected>Final Destination</option>
                        <option>Course 1</option>
                        <option>Course 2</option>
                        <option>Course 3</option>
                    </select>
                </div>
                <div class="mb-3">
                    <input type="text" class="form-control" placeholder="Loading Points">
                </div>
                <div class="mb-3">
                    <select class="form-control">
                        <option selected>Terminal of Loading</option>
                        <option>Course 1</option>
                        <option>Course 2</option>
                        <option>Course 3</option>
                    </select>
                </div>
                <div class="mb-3">
                    <select class="form-control">
                        <option selected>Terminal of Destination</option>
                        <option>Course 1</option>
                        <option>Course 2</option>
                        <option>Course 3</option>
                    </select>
                </div>
                <div class="mb-3">
                    <input type="text" class="form-control" placeholder="Container No">
                </div>
                <div class="mb-3">
                    <input type="text" class="form-control" placeholder="Container Size">
                </div>
                <div class="mb-3">
                    <input type="text" class="form-control" placeholder="Container Seal No">
                </div>
                <div class="mb-3">
                    <select class="form-control">
                        <option selected>Comodity</option>
                        <option>Course 1</option>
                        <option>Course 2</option>
                        <option>Course 3</option>
                    </select>
                </div>
                <div class="mb-3">
                    <input type="text" class="form-control" placeholder="Comodity Name">
                </div>
                <div class="mb-3">
                    <input type="text" class="form-control" placeholder="Rate Till Delivery">
                </div>
                <div class="mb-3">
                    <input type="text" class="form-control" placeholder="Lastmile Deli. Rate">
                </div>

             

            </div>
            <div class="col-md-4">
                <div class="mb-3">
                    <input type="text" class="form-control" placeholder="Net Amount">
                </div>
                <div class="mb-3">
                    <input type="text" class="form-control" placeholder="Tax Amount">
                </div>
                <div class="mb-3">
                    <input type="text" class="form-control" placeholder="Total Amount">
                </div>
                <div class="mb-3">
                    <select class="form-control">
                        <option selected>Shiping Line</option>
                        <option>Course 1</option>
                        <option>Course 2</option>
                        <option>Course 3</option>
                    </select>
                </div>
                <div class="mb-3">
                    <input type="text" class="form-control" placeholder="Shiping Line Name">
                </div>
                <div class="mb-3">
                    <input type="text" class="form-control" placeholder="Train FNR No">
                </div>
                <div class="mb-3">
                    <input type="text" class="form-control" placeholder="Terminal in Date">
                </div>
                <div class="mb-3">
                    <input type="text" class="form-control" placeholder="Train Departure Date">
                </div>
                <div class="mb-3">
                    <input type="text" class="form-control" placeholder="Payment Terms Codes">
                </div>
                <div class="mb-3">
                    <input type="text" class="form-control" placeholder="Order Status">
                </div>
                <div class="mb-3">
                    <input type="text" class="form-control" placeholder="Remarks">
                </div>
            </div>

        </div>
        <div class="row">
            <div class="col-md-12">
                <span>Loading Points</span>
                <hr>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="mb-3">
                    <select class="form-control">
                        <option selected>Loading Party Name 1</option>
                        <option>Course 1</option>
                        <option>Course 2</option>
                        <option>Course 3</option>
                    </select>
                </div>
                <div class="mb-3">
                    <input type="text" class="form-control" placeholder="Mobile No1">
                </div>
            </div>
            <div class="col-md-4">
                <div class="mb-3">
                    <select class="form-control">
                        <option selected>Location 1</option>
                        <option>Course 1</option>
                        <option>Course 2</option>
                        <option>Course 3</option>
                    </select>
                </div>
                <div class="mb-3">
                    Bill Change 1
                    <label class="checkbox-inline">
                        <input type="checkbox" checked data-toggle="toggle"> First
                      </label>
                </div>
            </div>
            <div class="col-md-4">
                <div class="mb-3">
                    <select class="form-control">
                        <option selected>Bill Change Party 1</option>
                        <option>Course 1</option>
                        <option>Course 2</option>
                        <option>Course 3</option>
                    </select>
                </div>
               
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <span>Loading Points 2</span>
                <hr>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="mb-3">
                    <select class="form-control">
                        <option selected>Loading Party Name 2</option>
                        <option>Course 1</option>
                        <option>Course 2</option>
                        <option>Course 3</option>
                    </select>
                </div>
                <div class="mb-3">
                    <input type="text" class="form-control" placeholder="Mobile No 2">
                </div>
            </div>
            <div class="col-md-4">
                <div class="mb-3">
                    <select class="form-control">
                        <option selected>Location 2</option>
                        <option>Course 1</option>
                        <option>Course 2</option>
                        <option>Course 3</option>
                    </select>
                </div>
                <div class="mb-3">
                    Bill Change 2
                    <label class="checkbox-inline">
                        <input type="checkbox" checked data-toggle="toggle"> First
                      </label>
                </div>
            </div>
            <div class="col-md-4">
                <div class="mb-3">
                    <select class="form-control">
                        <option selected>Bill Change Party 2</option>
                        <option>Course 1</option>
                        <option>Course 2</option>
                        <option>Course 3</option>
                    </select>
                </div>
               
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <span>Loading Points 3</span>
                <hr>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="mb-3">
                    <select class="form-control">
                        <option selected>Loading Party Name 3</option>
                        <option>Course 1</option>
                        <option>Course 2</option>
                        <option>Course 3</option>
                    </select>
                </div>
                <div class="mb-3">
                    <input type="text" class="form-control" placeholder="Mobile No 3">
                </div>
            </div>
            <div class="col-md-4">
                <div class="mb-3">
                    <select class="form-control">
                        <option selected>Location 3</option>
                        <option>Course 1</option>
                        <option>Course 2</option>
                        <option>Course 3</option>
                    </select>
                </div>
                <div class="mb-3">
                    Bill Change 2
                    <label class="checkbox-inline">
                        <input type="checkbox" checked data-toggle="toggle"> 
                      </label>
                </div>
            </div>
            <div class="col-md-4">
                <div class="mb-3">
                    <select class="form-control">
                        <option selected>Bill Change Party 3</option>
                        <option>Course 1</option>
                        <option>Course 2</option>
                        <option>Course 3</option>
                    </select>
                </div>
               
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
              
                <hr>
            </div>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>